
*.exe
*.nc
*.stl
.DS_Store
src/build/gcodeZ_GUI/Analysis-00.toc
src/build/gcodeZ_GUI/base_library.zip
src/build/gcodeZ_GUI/EXE-00.toc
src/build/gcodeZ_GUI/gcodeZ_GUI.exe.manifest
src/build/gcodeZ_GUI/gcodeZ_GUI.pkg
src/build/gcodeZ_GUI/localpycs/pyimod01_archive.pyc
src/build/gcodeZ_GUI/localpycs/pyimod02_importers.pyc
src/build/gcodeZ_GUI/localpycs/pyimod03_ctypes.pyc
src/build/gcodeZ_GUI/localpycs/pyimod04_pywin32.pyc
src/build/gcodeZ_GUI/localpycs/struct.pyc
src/build/gcodeZ_GUI/PKG-00.toc
src/build/gcodeZ_GUI/PYZ-00.pyz
src/build/gcodeZ_GUI/PYZ-00.toc
src/build/gcodeZ_GUI/warn-gcodeZ_GUI.txt
src/build/gcodeZ_GUI/xref-gcodeZ_GUI.html
src/gcodeZ_GUI.spec
src/gcodeZ
