
*.exe
*.nc
*.stl
.DS_Store
src/build/*
src/gcodeZ_GUI.spec
src/gcodeZ
src/dist/gcodeZ_GUI
.qmake.stash
Makefile
Makefile.Debug
Makefile.Release
GCodeZ.app/Contents/Info.plist
GCodeZ.app/Contents/MacOS/GCodeZ
GCodeZ.app/Contents/PkgInfo
GCodeZ.app/Contents/Resources/empty.lproj
*.o
GCodeZ
*.cfg
